<!DOCTYPE html>
{% block html %}
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | webapp</title>
{% endblock %}
</head>
<body>
{% block body %}
<header>
    <nav>
        <a href="{% url 'games:homepage' %}">Home</a> |
        <a href="{% url 'games:math-game' %}">math game</a> |
        <a href="{% url 'games:anagram-game' %}">anagram game</a> |
        <a href="{% url 'games:game-scores' %}">game scores</a>
    </nav>
</header>
{% block main %}{% endblock %}
{% endblock %}
</body>
</html>
{% endblock %}